<% content_for :title, 'Concierge' %>

<h1>OhShip Concierge Service</h1>
<p>Want us to buy your item for you? No problem! Just contact us at
<%= link_to "hello@ohship.me", "mailto:hello@ohship.me" %> and we'll arrange
the process for you.</p>
<p>We only charge 5% extra on top of the item's value for this service.
The minimum price of an item is 10 USD.</p>
