<div class="home content container">
  <h2>Contact Us</h2>
  <h3>Email</h3>
  <p>You can email us at
  <%= link_to "hello@ohship.me", "mailto:hello@ohship.me", :id => "detailsContactLink" %> for questions,
  comments or concerns.</p>
  <h3>Mail</h3>
  <p>Our mailing address is:</p>
  <p>SciGit Inc.<br>
  151 Charles Street West, Suite 100, The Tannery<br>
  Kitchener, Ontario<br>
  Canada<br>
  N2G 1H6</p>
</div>
