<div class="home content container">
  <h1>How OhShip Works</h1>
  <h2>The Problem</h2>
  <p>Have you ever had the problem that something you want doesn't ship to your
  country? OhShip has locations all over the world that can receive packages
  and pass them along to you.</p>
  <p>OhShip receives your packages at any of our locations that your
  merchandise will normally ship to. For example, if your merchandise will only
  ship to the US, but you live in Canada, we will have one of our US locations
  receive it, then send it to you.</p>
  <h2>Steps</h2>
  <ol>
    <li><strong>You start the shipping process with us.</strong> When you've
    entered all the package details, we give you an address that you ship
    to.<br>
    <em>For example, say you're buying something on Amazon's US site, but you
    live in Canada. When filling out the shipping info for Amazon, instead of
    entering your address, you enter the one we give you.</em></li>
    <li><strong>We receive the package.</strong> You get notified that we
    have it and can look at a picture of it. We measure it and give you an
    estimate of how much we think it'll cost to ship. We will open the package
    to make sure that what you're shipping is legal.</li>
    <li><strong>You pre-authorize payment for shipping.</strong> At this point,
    we're ready to send the package to you. Once you've pre-authorized payment,
    we send it to you. When we have the final shipping costs (usually when it
    ships), we charge your card. We provide you with receipts and a cost
    breakdown.</li>
    <li><strong>We send you the package.</strong> You are responsible for
    paying any duties, tariffs, brokerage fees, and taxes. We will do our best
    to keep these costs as low as possible for you.</li>
  </ol>
  <h2>Our Shipping</h2>
  <p>As of right now, we don't insure packages that we send. However, if
  anything goes wrong, we'll do our best to make it right with you. Just
  contact us whenever you need to.</p>
  <h2>Our Fees</h2>
  <p>We charge a small 20% service fee on top of the shipping costs (not the
  value of the merchandise itself). So if shipping costs you $10, then we charge
  you $2, regardless of the value of the item itself.</p>
  <h2>Referrals</h2>
  <p>When you refer your friends to OhShip, if they ship a package with us, your
  next shipment will have our usual 20% service fee waived. You can accumulate
  several referral credits by referring several friends. Your referral credits
  are used automatically on your next order with us.</p>
  <p>To get a referral credit, you must give your friend your referral link
  (available in your profile) before they sign up. If you forget to do this, or
  it doesn't work, just contact us and we'll fix it for you.</p>
  <h2>Contact Us</h2>
  <h3>Email</h3>
  <p>You can email us at
  <%= link_to "hello@ohship.me", "mailto:hello@ohship.me" %> for questions,
  comments or concerns.</p>
  <h3>Mail</h3>
  <p>Our mailing address is:</p>
  <p>SciGit Inc.<br>
  151 Charles Street West, Suite 100, The Tannery<br>
  Kitchener, Ontario<br>
  Canada<br>
  N2G 1H6</p>
</div>
