<div class="home content container">
  <h1>How OhShip Works</h1>
  <h2>The Problem</h2>
  <p>Have you ever had the problem that something you want doesn't ship to your
  country? OhShip has locations all over the world that can receive packages
  and pass them along to you.</p>
  <p>OhShip receives your packages at any of our locations that your
  merchandise will normally ship to. For example, if your merchandise will only
  ship to the US, but you live in Canada, we will have one of our US locations
  receive it, then send it to you.</p>
  <h2>Steps</h2>
  <ol>
    <li><strong>You start the shipping process with us.</strong> When you've
    entered all the package details, we give you an address that you ship
    to.<br>
    <em>For example, say you're buying something on Amazon's US site, but you
    live in Canada. When filling out the shipping info for Amazon, instead of
    entering your address, you enter the one we give you.</em></li>
    <li><strong>We receive the package.</strong> You get notified that we
    have it and can look at a picture of it. We measure it and give you an
    estimate of how much we think it'll cost to ship.</li>
    <li><strong>You pre-authorize payment for shipping.</strong> At this point,
    we're ready to send the package to you. Once you've pre-authorized payment,
    we send it to you. When we have the final shipping costs (usually when it
    ships), we charge your card.</li>
    <li><strong>We send the package.</strong> </li>
  </ol>
  <h2>Our Fees</h2>
  We charge a small 20% service fee on top of
  the shipping costs (not the value of the merchandise itself). So if shipping
  costs you $10, then we charge you $2.</p>
</div>
