<div id="overview" class="section expanded">
  <div class="container">
    <div class="hero-unit">
      <h2>OhShip!</h2>
      <ul>
        <li><h3>Enter and track data easily.</h3></li>
        <li><h3>Generate documents in seconds.</h3></li>
        <li><h3>Track your brokerage's cost savings.</h3></li>
      </ul>
      <br>
      <div class="center">
        <%= link_to 'Sign Up', "", :class => 'btn btn-primary btn-xlg' %>
      </div>
    </div>
  </div>
  <div class="caret caret-darken">
    <a href="#features"><i class="icon-angle-down icon-4x"></i></a>
  </div>
</div>

<hr class="featurette-divider no-top-margin">

<div class="container">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="container">
  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="container">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>
</div>

<hr class="featurette-divider no-bottom-margin">

<div id="pricing" class="section">
  <div class="container">
    <h1 class="center">Try Consilium risk-free</h1>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="title title-starter">
          Starter Plan
        </div>
        <div class="pricing-inner">
          <div class="price">
            $0
          </div>
          <div class="renewal">
            monthly
          </div>
          <hr />
          <p>Free for one user</p>
          <hr />
          <p>All features available</p>
          <%= link_to "Try for free", "", :class => "pure-button button-starter"%>
        </div>
      </div>
      <div class="col-md-6">
        <div class="title title-monthly">
          Monthly Plan
        </div>
        <div class="pricing-inner">
          <div class="price">
            $30
          </div>
          <div class="renewal">
            monthly per user
          </div>
          <hr />
          <p>Unlimited users</p>
          <hr />
          <p>All features available</p>
          <%= link_to "Get the monthly plan", "", :class => "pure-button button-monthly"%>
        </div>
      </div>
    </div>
  </div>
</div>
