<div class="home content container">
  <h1>Shipping exceptions</h1>
  <h2>What can I ship with OhShip? What is Prohibited?</h2>
  <h2>Dimensions & Weight Limit</h2>
  <p>The maximum parcel size is 25" x 22" x 17" (roughly as big as a 26" TV). The
  parcel weight limit is a maximum of 30 kg (~65 lbs).</p>
  <div class="alert alert-warning">
    <%= fa_icon "warning" %>
    <p>If your parcel exceeds the maximum size or weight, you will be emailed with
    the choice of picking it up from our central warehouse during operating hours
    or having it returned to the sender. If you’re not sure whether a parcel will
    be within the limits, we recommend asking the sender before placing your
    order.</p>
  </div>
  <h2>Prohibited Items</h2>
  <p>Parcels can’t contain any items outlined below:</p>
  <div class="alert alert-warning">
    <%= fa_icon "warning" %>
    <p>Prohibited items may be rejected and returned to the sender immediately. If
    you are unsure as to whether any item would or would not be prohibited, you
    must contact us at hello@ohship.me before shipping your online purchase to an
    OhShip Shipping Address. We may charge you for any costs incurred through
    handling such parcels.</p>
  </div>
  <h3>Dangerous products</h3>
  <p>OhShip doesn't allow the shipment of products which may endanger human or
  animal life, or which may taint or otherwise damage other goods being
  transported.</p>
  <h3>Hazardous materials</h3>
  <p>OhShip doesn't allow the shipment of hazardous materials including but
  not limited to toxic, radioactive and flammable materials and as defined by
  applicable law.</p>
  <h3>Recalled products</h3>
  <p>OhShip doesn't allow the shipment of items which are subject to a recall
  by the manufacturer or any governmental agency, such as the US Consumer
  Product Safety Commission (CPSC).</p>
  <h3>Sale of free items</h3>
  <p>OhShip doesn't allow the shipment of items that are otherwise available
  for free. We also don't allow the shipment of government forms that are
  available for free or for a lower price from official bodies or the
  government.</p>
  <h3>Spam techniques</h3>
  <p>OhShip doesn't allow the shipment of products used to enable bulk
  marketing, including sending unsolicited mail or email messages, or otherwise
  enabling spam techniques.</p>
  <h3>Temperature controlled foods</h3>
  <p>OhShip doesn't allow perishable items which require refrigeration,
  freezing or heating during transport.</p>
  <h3>Time sensitivity</h3>
  <p>OhShip doesn't allow the shipment of items whose primary value is
  subject to a specific time interval or expiration date including concert or
  sports tickets and airplane or train tickets. We allow the shipment of items
  which display an expiration date in order to comply with local health and
  safety regulations. For example, alimentary products are allowed according to
  this policy.</p>
  <h3>User safety</h3>
  <p>OhShip doesn't allow the shipment of products associated with deceptive
  business models and misleading claims including multi-level marketing
  programs, matrix, pyramid, Ponzi schemes and wealth creation programs.</p>
  <h3>Abortion</h3>
  <p>OhShip doesn't allow the shipment of abortion-related content that uses
  violent language or gruesome imagery.</p>
  <h3>Alcohol</h3>
  <p>At this time OhShip doesn't allow the shipment of alcohol, including
  hard alcohol or liquor, beer, wine, champagne, alcohol branded products, beer
  or wine of the month clubs, and alcohol or beer making kits. OhShip does
  allow the shipment of alcohol accessories.</p>
  <h3>Adult sexual services</h3>
  <p>OhShip doesn't allow the shipment of content related to pornography,
  nudity, graphic sexual language or escort services. OhShip does allow adult
  content related to sexual enhancers, aids or devices and erotic lingerie. This
  content must be promoted without pornographic content or nudity in order to be
  acceptable.</p>
  <h3>Verification requirements</h3>
  <p>At this time OhShip doesn't allow the shipment of items restricted to
  specific ages or requiring proof of ID upon purchase. Any product that
  requires proof of age to purchase is not currently allowed on OhShip.</p>
  <h3>Casinos and gambling</h3>
  <p>OhShip doesn't allow the shipment of gambling-related products, including:</p>
  <ul>
    <li>Gambling-related promotional products such as gambling-related vouchers,
    bonus codes, etc.</li>
    <li>Gambling-related lotteries tickets such as non-national or state
    lotteries, or national or state lottery affiliates or aggregators</li>
    <li>Physical lottery scratch cards</li>
    <li>However OhShip allows the shipment of physical gambling-related
    equipment, including:
    <ul>
      <li>Gambling-related accessories, e.g. poker chips</li>
      <li>Gambling-related physical items, e.g. poker books/DVD's/Video games
      for consoles</li>
    </ul>
    </li>
  </ul>
  <h3>Endangered species</h3>
  <p>OhShip doesn't allow the shipment of products obtained from endangered
  or threatened species including elephant ivory, shark, tiger, whale or dolphin
  products and staghorn or elkhorn coral.</p>
  <h3>Fake documents</h3>
  <p>OhShip doesn't allow the shipment of fake documents including fake ids,
  government documents, diplomas and doctor notes.</p>
  <h3>Fireworks</h3>
  <p>OhShip doesn't allow the shipment of fireworks and pyrotechnic
  devices.</p>
  <h3>Financial or other regulated products, securities and stored value</h3>
  <p>OhShip doesn't allow the shipment of financial or investment products
  including cash disbursements, money orders, traveler's checks, stocks, bonds,
  or related financial products and stored value cards. OhShip does allow the
  shipment of a merchant's own gift cards.</p>
  <h3>Health care and medicine</h3>
  <p>OhShip doesn't allow the shipment of certain pharmaceuticals and
  supplements, irrespective of any claims of legality. For a non-exhaustive list
  of prohibited pharmaceuticals and supplements, please see
  <%= link_to "unapproved pharmaceuticals and supplements",
  "https://support.google.com/adwordspolicy/answer/2423645" %> in the AdWords
  Help Center. Examples of prohibited content include dietary or herbal
  supplements containing active pharmaceutical ingredients, products that make
  false or misleading health claims and <%= link_to "Prescription drugs",
  "https://support.google.com/adwordspolicy/answer/2430794" %>.</p>
  <p>OhShip doesn't allow shipment of behind-the-counter (BTC) products.
  Behind-the-counter medications do not require a prescription but require
  discussion with a pharmacist prior to purchase. Examples of BTC products may
  include medicines containing pseudoephedrine and emergency contraceptives, and
  may differ by region. Examples of acceptable content include over-the-counter
  (OTC) products, vitamins and dietary supplements.</p>
  <h3>Human remains and body parts</h3>
  <p>OhShip doesn't allow the shipment of body parts or human remains in any
  form including organs, bones and any bodily fluids. Hair used for wigs is
  acceptable.</p>
  <h3>Illegal drugs</h3>
  <p>OhShip doesn't allow the shipment of illegal drugs, legal or synthetic
  highs, herbal drugs, chemicals and compounds with psychoactive effects, drug
  paraphernalia, or aids to pass drug tests. Our policy on drugs covers products
  that are illegal, as well as some products that may be legal in some
  countries.</p>
  <h3>Illegal hacking</h3>
  <p>OhShip doesn't allow the shipment of content promoting hacking by
  providing instructions or equipment to illegally access or tamper with
  software, servers, cell phones, or websites.</p>
  <h3>Illegal products</h3>
  <p>OhShip doesn't allow the shipment of illegal products or products
  enabling illegal acts. All products being shipped must clearly comply with all
  applicable laws and regulations. Whenever there's a question of whether
  compliance is clear, OhShip may choose to err on the side of conservative
  interpretation and have additional restrictions. We aren't interested in
  shipping products of questionable legality.</p>
  <h3>Live animals and plants</h3>
  <p>OhShip doesn't allow the shipment of live animals and plants.</p>
  <h3>Loose groceries</h3>
  <p>At this time OhShip doesn't allow the shipment of loose groceries
  including but not limited to loose produce or otherwise unpackaged foodstuffs
  and household supplies.</p>
  <h3>Precious materials</h3>
  <p>OhShip doesn't allow the shipment in bulk of rare, scarce or valuable
  metals or stones.</p>
  <h3>Size restrictions</h3>
  <p>OhShip doesn't allow the shipment of packages exceeding our determined
  size requirements. Packages must not exceed 65 lbs (including all packaging)
  in weight and 25 x 22 x 17 inches in any of height, width, or depth.</p>
  <h3>Sensitive transport restrictions</h3>
  <p>OhShip doesn't allow the shipment of products which may be sensitive to
  our transport conditions, which require a licence or permission to transport,
  or with which special precautions must be taken in relation to loading or
  unloading.</p>
  <h3>Stolen property and lock picking devices</h3>
  <p>OhShip doesn't allow the shipment of stolen property and lock picking
  devices. This also includes products where the serial number has been removed
  or altered.</p>
  <h3>Trade sanctions</h3>
  <p>OhShip doesn't allow the shipment of content that would violate
  applicable government trade sanctions.</p>
  <h3>Traffic devices</h3>
  <p>OhShip doesn't allow the shipment of products that are designed to
  interfere with the enforcement of traffic laws. While radar detectors are
  allowed in most countries, radar jammers and other law evading products aren't
  allowed.</p>
  <h3>Tobacco products</h3>
  <p>OhShip doesn't allow the shipment of most tobacco or tobacco-related
  products including cigarettes, cigars, tobacco pipes, rolling papers,
  electronic cigarettes, and e-cigarette cartridges.</p>
  <h3>Underage or non-consensual sex acts</h3>
  <p>OhShip doesn't allow the shipment of child sexual abuse imagery,
  underage-themed pornography, non-consensual sex acts, or illegal sex acts.
  Please note that we don't allow this content even if it complies with
  government regulations.</p>
  <h3>Weapons</h3>
  <p>OhShip doesn't allow the shipment of weapons or devices designed to
  cause serious harm or injury. Examples of weapons include guns, gun parts or
  hardware, ammunition, bombs, knives, throwing stars, and brass knuckles.</p>
  <h3>Wholesale currency</h3>
  <p>OhShip doesn't allow the shipment of discount currencies, currency
  exchange or currency trading.</p>
  <h3>Copyright</h3>
  <p>OhShip doesn't allow the shipment of copyrighted material unless the
  merchant has consent from the copyright holder, or as it's otherwise permitted
  by law. To learn more about how we handle copyright issues within Google or to
  submit a copyright-related complaint, please view the Digital Millennium
  Copyright Act and our copyright policy and procedures. Examples of prohibited
  content include unauthorized or "bootleg" copies of media, software, or other
  licensed or protected material. Mod chips or other devices designed to
  circumvent copyright protection are also prohibited.</p>
  <h3>Counterfeit</h3>
  <p>OhShip doesn't allow the shipment of counterfeit goods. Counterfeit
  goods contain a trademark or logo that is identical to or substantially
  indistinguishable from the trademark of another and mimic the brand features
  of the product in an attempt to pass themselves off as a genuine product of
  the brand owner. Examples of prohibited content include replica, imitation,
  knock-off or other non-genuine product copying brand features in an attempt to
  pass itself off as a genuine product.</p>
  <h3>Academic aids</h3>
  <p>OhShip doesn't allow the shipment of academic aids that provide an
  unfair academic advantage. This includes getting actual test questions in
  advance, turning in a paper someone else has written as your own original
  work, or test taking services (where someone will take an exam for you).</p>
  <h3>Anti and Violence</h3>
  <p>OhShip doesn't allow the shipment of "anti" or violent concepts, such as
  the following:</p>
  <ul>
    <li>Content advocating against an organization, person, or group of
    people</li>
    <li>Content advocating against a protected group. A protected group is
    distinguished by one of the following: race or ethnic origin, color,
    national origin, religion, disability, sex, age, veteran status, sexual
    orientation, or gender identity</li>
    <li>Attempts to revise history against the interests of a protected
    group</li>
    <li>The promotion of self-harm and violence against people or animals</li>
    <li>Content associated with criminals or a criminal act, including crime
    scene photos</li>
  </ul>
  <p>OhShip doesn't allow the shipment of products enabling self-harm or
  violence against people or animals and content associated with criminals or
  a criminal act.</p>
  <h3>Sensitive issues</h3>
  <p>OhShip doesn't allow the shipment of content attempting to capitalize on
  sensitive issues. Sensitive issues are usually identified in response to
  exceptional global events that can't be predicted, like natural disasters or
  political uprisings, and therefore aren't outlined on this page.</p>
  <h2>What happens if my parcel is too large or heavy?</h2>
  <p>If your parcel exceeds the maximum size or weight, you will be emailed with
  the choice of picking it up from our warehouse during operating hours or
  having it returned to the sender. If you’re not sure whether a parcel will be
  within the limits, we recommend asking the sender before placing your
  order.</p>
  <h2>What if my parcel has taxes or duties or fees on it? (otherwise known as
  Collect on Delivery)</h2>
  <p>These will be your responsibility to pay when they are delivered to you.
  Any taxes we incur on shipment to an OhShip location will be included in your
  fees.</p>
</div>
