<h1>Refer a Friend</h1>
<p>When you refer your friends to OhShip, if they ship a package with us, your
next shipment will have our usual 20% service fee waived. You can accumulate
several referral credits by referring several friends. Your referral credits
are used automatically on your next order with us.</p>
<p>To get a referral credit, you must give your friend your referral link
(available in your profile) before they sign up. If you have forgot to do so,
<%= link_to "contact us", contact_path %> and we'll fix it for you.</p>
