<% content_for :title, 'Terms of Service' %>

<h1>OhShip Terms &amp; Conditions</h1>
<h2>Welcome to OhShip!</h2>
<p>By using OhShip (the "Service"), you agree to the following terms, in
addition to the <em>shipping carrier's</em> Terms of Service, collectively
the "Terms."</p>
<h2>Your Status</h2>
<p>By placing an order through OhShip, you warrant that:</p>
<ol>
  <li>You are at least 18 years old; and</li>
  <li>Your use of OhShip complies with applicable law.</li>
</ol>
<h2>Your Responsibilities</h2>
<ol>
  <li>When you use the Service, you will:
    <ol>
      <li>only use the Service for packages which meet the policies for which
      packages we will accept (Acceptable Packages). These are described in
      Section 4;</li>
      <li>always give the full OhShip address to any sender of the package
      (the “Sender”) as the address for the package; and</li>
      <li>ensure that the Sender packs any package securely.</li>
    </ol>
  </li>
  <li>We do not know or control every Sender or have control over the terms
  each Sender imposes for returns, such as whether it will refund your
  purchase price. You assume any risk associated with packages you do not pick
  up. We also reserve the right to deal with, as we see fit, any package which
  is not an acceptable package.</li>
</ol>
<h2>Acceptable Packages</h2>
<ol>
  <li>You must not use the Service to send and collect any package that does
  not conform to our specifications for weight and contents. Packages that do
  not conform to these specifications will not be accepted by us at the OhShip
  Address. These specifications are:
  <ol>
    <li>weight: packages must not be over 65 lbs (including all packaging);</li>
    <li>contents: packages must not contain the following
    <%= link_to "Prohibited Contents", prohibited_path, :id => "termsProhibitedLink" %>.
    If you are in any doubt as to whether any item would or would not be
    prohibited under this list, you must contact us on hello@ohship.me before
    giving your OhShip address to the relevant Sender.</li>
  </ol>
  </li>
  <li>We may need to change the requirements for Acceptable Packages from time
  to time to reflect changes in relevant law or our operational methods. We
  will update our website notifying you of any such changes.</li>
  <li>We may monitor any package received at the OhShip address, and reserve
  the right to review any package to confirm whether it is an Acceptable
  Package. We may also photograph packages to provide evidence of their
  delivery or other factors (for example, where packages are inadequately
  packaged or damaged).</li>
  <li>Where we receive any package which is not an Acceptable Package, we may
  notify you by phone or e-mail to arrange for you to collect it or otherwise
  deal with it. We may charge you for any costs incurred through handling such
  packages.</li>
</ol>
<h2>Price and Payment</h2>
<ol>
  <li>The price of the Service will be as quoted on our site from time to
  time. All prices shown on our site do not include applicable sales tax.</li>
  <li>Prices of the Service are liable to change at any time, but changes will
  not affect orders in respect of the Service for which we have already sent
  you a delivery confirmation.</li>
  <li>Payment for the Service must be completed using the payment options on
  our site.</li>
</ol>
<h2>Ending the Services</h2>
<ol>
  <li>Where we end providing the Services to you, we will not give any refund
  or waive any fees still due, and we may charge you for the return by post of
  any of your packages then under our control.</li>
  <li>You may end the Services at any time, though you will still be liable
  for any unpaid fees or other costs.</li>
</ol>
<h2>Customer Support</h2>
<ol>
  <li>In the event that you need additional support, please contact us at
  hello@ohship.me.</li>
  <li>Where your question relates to a lost or damaged package, you must give
  us as much relevant information about the package as possible,
  including:
  <ol>
    <li>proof of dispatch by the Sender;</li>
    <li>proof of value;</li>
    <li>estimates for cost of repair;</li>
    <li>invoices, and</li>
    <li>in case of damage, a photograph of the package and, if requested by
    us, the package and its packaging for inspection as soon as possible after
    you become aware of the loss or damage, and in any event within 21 days of
    dispatch by the Sender.</li>
  </ol>
  </li>
</ol>
<h2>Our Liability</h2>
<ol>
  <li>Our liability per package for such loss is limited to the lower of:
  <ol>
    <li>$100 including applicable sales tax; or</li>
    <li>the market value of the contents of the package including applicable
    sales tax.</li>
  </ol>
  </li>
</ol>
<h2>Events Outside of Our Control</h2>
<p>We will not be liable or responsible for any failure to perform, or delay
in performance of, any of our obligations that is caused by events outside our
reasonable control (Force Majeure Event).</p>
<h2>Links to Other Web Sites</h2>
<p>Our Site includes links to other Web sites whose privacy practices may
differ from those of OhShip.me. If you submit personal information to any of
those sites, your information is governed by their privacy policies. We
encourage you to carefully read the privacy policy of any Web site you
visit.</p>
