<div class="home content container">
  <h1>OhShip Terms &amp; Conditions</h1>
  <h2>Welcome to OhShip!</h2>
  <p>By using OhShip (the "Service"), you agree to the following terms, in
  addition to the <em>shipping carrier's</em> Terms of Service, collectively
  the "Terms."</p>
  <h2>Your Status</h2>
  <p>By placing an order through OhShip, you warrant that:</p>
  <ol>
    <li>You are at least 18 years old; and</li>
    <li>Your use of OhShip complies with applicable law.</li>
  </ol>
  <h2>Your Responsibilities</h2>
  <ol>
    <li>When you use the Service, you will:
      <ol>
        <li>only use the Service for packages which meet the policies for which
        packages we will accept (Acceptable Packages). These are described in
        Section 4;</li>
        <li>always give the full OhShip address to any sender of the package
        (the “Sender”) as the address for the package; and</li>
        <li>ensure that the Sender packs any package securely.</li>
      </ol>
    </li>
    <li>We do not know or control every Sender or have control over the terms
    each Sender imposes for returns, such as whether it will refund your
    purchase price. You assume any risk associated with packages you do not pick
    up. We also reserve the right to deal with, as we see fit, any package which
    is not an acceptable package.</li>
  </ol>
</div>
