Hello <%= @user.email %>!<br />

<p>
Welcome to OhShip! You can now begin receiving packages through our service.<br />
Start by creating a package at <%= packages_url %>.
</p>

<p>
Regards,<br />
The OhShip Team
</p>
