@import 'include/constants';
@import 'include/utilities';

body {
  .logo {
    text-align: center;
  }

  .button-sign-up {
    text-transform: uppercase;
    color: white;
    background: #3E94D1;
    width: 75%;
  }

  .section {
    &#features {
      text-align: center;
      color: #777;
      font-size: 18px;
      padding: 80px 0;

      h1 {
        margin-top: 0;
        color: #666;
        text-transform: uppercase;
        font-size: 52px;
      }

      hr.soften {
        margin-bottom: 50px;
      }

      .step {
        @include border-radius(5px);

        h2 {
          color: #444;
        }

        position: relative;
        padding: 0;
        height: 400px;

        @include respond-to(handhelds, tablets) {
          margin-bottom: 50px;

          &.last {
            margin-bottom: 0;
          }
        }

        .ribbon {
          position: absolute;
          top: -15px;
          left: 50%;
          margin-left: -140px;
        }

        .process {
          position: absolute;
          width: 250px;
          top: 75px;
          left: 50%;
          margin-left: -125px;
        }

        .step-caption {
          position: absolute;
          top: 290px;
          width: 100%;
        }
      }

      .row {
        margin-bottom: 20px;
        text-align: center;
      }
    }

    &#social {
      padding: 100px 0;

      h1 {
        color: #999;
        text-transform: uppercase;
        font-size: 40px;
        line-height: 60px;
      }

      a:hover {
        text-decoration: none;
      }
    }

    &.expanded {
      width: 100%;
      vertical-align: middle;
      clear: both;
      padding: 75px 0;

      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      @mixin square($color) {
        padding: 3em;
        background: $color;
      }

      &#overview {
        background: url(../img/header.png) center center;
        vertical-align: top;
        padding-top: 140px;

        h1 {
          color: white;
          font-size: 60px;
          text-shadow: 1px 1px 1px black;
        }

        h2 {
          color: white;
          font-weight: 200;
          text-shadow: 1px 1px 1px black;
        }

        .form-group {
          display: table;
          width: 300px;
          position: relative;

          @include respond-to(handhelds) {
            display: block;
            margin: auto;
          }

          .or {
            display: table-cell;
            font-size: 32px;
            line-height: 55px;
            vertical-align: middle;
            color: #aaa;

            @include respond-to(handhelds, tablets) {
              display: none;
            }

            .or-inner {
              margin-left: -55px;
              margin-right: 25px;

              @include respond-to(desktops) {
                margin-left: 10px;
              }
            }
          }

          .email {
            display: table-cell;
            height: 55px;
            font-size: 20px;
            text-align: left;

            @include respond-to(handhelds, tablets) {
              margin-top: 5px;
            }
          }

          button.email-signup {
            position: absolute;
            right: 0;
            height: 55px;
            -webkit-border-radius: 0;
            -webkit-border-top-right-radius: 3px;
            -webkit-border-bottom-right-radius: 3px;
            -moz-border-radius: 0;
            -moz-border-radius-topright: 3px;
            -moz-border-radius-bottomright: 3px;
            border-radius: 0;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;

            @include respond-to(handhelds, tablets) {
              top: 5px;
            }
          }
        }

        .auth {
          position: relative;
          left: -25%;
          opacity: 0;

          &.active {
            @include respond-to(desktops, widescreens) {
              @include transition(0.8s);
            }

            left: auto;
            opacity: 1;
          }
        }
      }

      &#mobile {
        background-color: white;

        h1 {
          color: #3E94D1;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 30px;
        }

        h2 {
          color: #555;
          font-weight: 400;
          font-size: 24px;
        }

        p {
          color: #777;
        }

        div[class*="col-md-"] {
          padding-right: 60px;

          &:last-child {
            padding-right: 0;
          }
        }
      }

      &#signup {
        background-color: #ccc;

        h1 {
          color: #666;
          text-transform: uppercase;
          font-size: 40px;
        }

        .row {
          text-align: center;
        }

        div[class*="col-md-"] {
          padding: 0;
          background-color: white;
          float: none;
          display: inline-block;
          margin-bottom: 30px;
        }

        .signup-inner {
          padding: 30px;
        }

        .title {
          color: white;
          text-transform: uppercase;
          padding: 10px;

          &.title-starter {
            background-color: #ed6c4d;
          }

          &.title-monthly {
            background-color: #3E94D1;
          }
        }

        .price {
          color: #444;
          text-align: center;
          font-size: 32px;
        }

        .renewal {
          margin-bottom: 30px;
          color: #666;
          text-align: center;
        }

        p {
          text-transform: uppercase;
          color: #777;
          font-size: 20px;
        }
      }

      // XXX: This class is garbage and should get cleaned up.
      .presignup {
        label {
          margin-top: 10px;
          font-size: 18px;
          font-weight: 100;
        }

        .button-align {
          position: relative;
          height: 60px;

          input {
            position: absolute;
            left: 0;
            right: 0;
            height: 50px;

            font-size: 18px;
            line-height: 32px;
          }

          button {
            position: absolute;
            right: 0;
            height: 50px;

            &.btn {
              -webkit-border-radius: 0;
              -webkit-border-top-right-radius: 5px;
              -webkit-border-bottom-right-radius: 5px;
              -moz-border-radius: 0;
              -moz-border-radius-topright: 5px;
              -moz-border-radius-bottomright: 5px;
              border-radius: 0;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
        }
      }

      .hero-unit {
        max-width: 400px;

        @include respond-to(handhelds, tablets) {
          margin-left: auto;
          margin-right: auto;
        }

        @include respond-to(desktops) {
          width: 350px;
          margin-left: 0;
        }

        h1, h2, h3 {
          margin: 0;
        }

        color: white;
        @include border-radius(5px);
        @include square(rgba(0, 0, 0, 0.75));
      }

      .pins {
        @include respond-to(desktops) {
          width: 550px;
        }
        background: url(../img/pins.png) center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 650px;
      }

      .features {
        float: right;
        margin-right: 10%;
        color: white;
        @include square(rgba(255, 120, 0, 0.75));
      }

      .next-caret {
        position: absolute;
        left: 50%;
        bottom: 5%;
        text-shadow: 1px 1px 3px black;

        a {
          &, &:link, &:visited, &:hover, &:active {
            color: white;
            text-decoration: none;
          }
        }
      }

      .next-caret-darken {
        padding: 0 10px;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 100px;
      }
    }
  }

  .landing .navbar {
    @include transition();

    position: fixed;
    text-align: right;
    padding: 20px 0;
    width: 100%;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.75);

    .nav-sections {
      margin: 0 20px;
      > a {
        margin: 0 20px;
      }
    }

    .navbar-nav {
      line-height: 40px;

      a {
        margin-left: 25px;
        text-shadow: 0 0 1px #666;

        &.btn {
          color: white !important;
        }

        &, &:link, &:visited, &:hover, &:active {
          @include transition();

          color: #999;
          font-size: 20px;
          font-weight: 100;

          &.active, &:hover {
            color: white;
          }
        }
      }
    }
  }

  .marketing {
    padding-left: 0;
    padding-right: 0;

    .col-lg-4 {
      text-align: center;
      margin-bottom: 20px;
    }

    h2 {
      font-weight: normal;
    }
  }

  h1.featurette-heading {
    font-size: 60px;
    font-weight: 200;
    color: #666;
    text-align: center;
    text-transform: uppercase;
  }

  h2.featurette-heading {
    font-size: 50px;
  }

  h2.featurette-subheading {
    color: #888;
  }

  .featurette {
    color: white;
    margin-left: -15px;
    margin-right: -15px;
    padding: 80px 0;

    &.featurette-1 {
      @include background-cover;
      background: url(../img/point1.png) center center;
    }

    &.featurette-2 {
      @include background-cover;
      background: url(../img/point2.png) center center;
    }

    &.featurette-3 {
      @include background-cover;
      background: url(../img/point3.png) center center;
    }
  }

  .featurette-divider {
    margin: 80px 0;
  }

  .auth {
    .modal-dialog {
      width: 400px;
    }

    a.facebook-connect {
      @include border-radius(5px);
      width: 225px;
      $bg-color: #4063b3;
      $bg-color-gradient: #3c599d;
      background-color: $bg-color;
      background-image: -webkit-linear-gradient($bg-color, $bg-color-gradient);
      background-image: linear-gradient($bg-color, $bg-color-gradient);
      border: 1px solid #224084;
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.18),inset 0 0 1px 1px rgba(255,255,255,0.09);
      display: table;
      font-weight: bold;

      @include respond-to(handhelds) {
        margin: auto;
      }

      &:hover {
        text-decoration: none;

        background-color: darken($bg-color, 5%);
        background-image: -webkit-linear-gradient(darken($bg-color, 5%), darken($bg-color-gradient, 5%));
        background-image: linear-gradient(darken($bg-color, 5%), darken($bg-color-gradient, 5%));
      }

      .fa-facebook {
        font-size: 2.7em;
      }

      span {
        display: table-cell;
        text-align: center;
        padding: 12px 5px 11px 10px;
        position: relative;

        i {
          position: absolute;
          bottom: -5px;
          left: 20px;
        }
      }
    }

    .mobile-or {
      display: none;
      font-size: 32px;
      line-height: 55px;
      width: 300px;
      text-align: center;
      color: #aaa;

      @include respond-to(handhelds, tablets) {
        display: block;
      }

      @include respond-to(handhelds) {
        margin: auto;
      }
    }

    &.signup {
      .form-panel {
        @include border-radius(5px);
        padding: 30px;
        background: $light-gray;
      }

      .info-panel {
        padding-left: 40px;

        @include respond-to(handhelds) {
          padding-left: 0;
        }

        .info-section {
          margin-bottom: 40px;

          img {
            width: 40px;
            height: 40px;
            margin: 0 20px;
            float: left;
          }

          .text {
            padding-left: 80px;
            color: #999;
            h3 {
              color: inherit;
            }
          }
        }
      }
    }
  }

  @mixin button($color) {
    padding: 20px 40px;
    font-size: 24px;
    background: $color;
    color: white;
    text-transform: uppercase;

    &.btn-lg {
      padding: 30px 60px;
      font-size: 32px;
    }

    &:hover {
      background: lighten($color, 10%);
      color: white;
    }
  }

  .navbar-login-link {
    padding-top: 11px !important;
    padding-bottom: 5px !important;
    font-size: 14px;

    button {
      margin-left: 10px;
      margin-top: -3px;
    }
  }

  .button-starter {
    @include button(#e8461f);

    &.button-green {
      @include button(darken(#5cb85c, 10%));
    }
  }

  .button-monthly {
    @include button(#3e94d1);
  }

  .or-separator {
    position: relative;
    margin: 35px 0;

    .center {
      .or {
        position: absolute;
        top: -11px;
        background: white;
        padding: 0 15px;
        margin-left: -15px;

        &.light-gray {
          background: $light-gray;
        }
      }
    }
  }

  .nav-side {
    @include transition();
    @include transform(-1000px, 0);

    &.active {
      @include transform(0, 0);
    }

    top: 100px;
    position: fixed;
  }
}
