@import 'include/constants';
@import 'include/utilities';

html body { font-size: 16px; }

body {
  color: #5a5a5a;

  overflow-x: hidden;

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  h1, h2, h3 {
    margin: 0;
  }

  h1 {
    font-size: 64px;
    font-weight: 100;
    margin-bottom: 0.25em;
    color: #3E94D1;
  }

  h2 {
    font-size: 32px;
    font-weight: 200;
  }

  h3 {
    font-size: 20px;
    font-weight: 200;
  }

  .logo {
    margin-top: 5px;
  }

  .button-sign-up {
    text-transform: uppercase;
    color: white;
    background: #3E94D1;
    width: 75%;
  }

  .section {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    clear: both;
    padding: 75px 0;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @mixin square($color) {
      padding: 3em;
      background: $color;
      display: inline-block;
    }

    &#overview {
      background: url(../img/header.png) no-repeat center center;
      background-size: cover;
    }

    &#features {
      text-align: center;
      background-color: #333;
      color: #888;

      .wish {
        margin-right: 20px;
      }

      .row {
        margin-bottom: 20px;

        div[class*="col-md-"] {
          display: inline-block;
          padding: 20px 0 20px 20px;

          h2 {
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 400;
            color: #aaa;
          }

          p {
            line-height: 20px;
            text-align: justify;
          }
        }
      }

      .feature-img {
        margin-right: 10px;
      }
    }

    &#mobile {
      background-color: white;

      h1 {
        color: #3E94D1;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 30px;
      }

      h2 {
        color: #555;
        font-weight: 400;
        font-size: 24px;
      }

      p {
        color: #777;
      }

      div[class*="col-md-"] {
        padding-right: 60px;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    &#pricing {
      background-color: #ccc;
      margin-top: 50px;

      h1 {
        color: #666;
        text-transform: uppercase;
        font-size: 40px;
      }

      div[class*="col-md-"] {
        background-color: white;
      }

      .pricing-inner {
        padding: 30px;
      }

      .title {
        color: white;
        text-transform: uppercase;
        padding: 10px;

        &.title-starter {
          background-color: #ed6c4d;
        }

        &.title-monthly {
          background-color: #3E94D1;
        }
      }

      @mixin button($color) {
        width: 100%;
        margin-top: 10px;
        padding: 20px 20px;
        font-size: 20px;
        background: $color;
        color: white;
        text-transform: uppercase;

        &:hover {
          background: lighten($color, 10%);
        }
      }

      .button-starter {
        @include button(#ed6c4d);
      }

      .button-monthly {
        @include button(#3e94d1);
      }

      .price {
        color: #444;
        text-align: center;
        font-size: 80px;
      }

      .renewal {
        margin-bottom: 30px;
        color: #666;
        text-align: center;
      }

      p {
        text-transform: uppercase;
        color: #777;
        font-size: 20px;
      }
    }

    .hero-unit {
      color: white;
      @include square(rgba(0, 0, 0, 0.75));
    }

    .features {
      float: right;
      margin-right: 10%;
      color: white;
      @include square(rgba(255, 120, 0, 0.75));
    }

    .caret {
      position: absolute;
      left: 50%;
      bottom: 5%;
      text-shadow: 1px 1px 3px black;

      a {
        &, &:link, &:visited, &:hover, &:active {
          color: white;
          text-decoration: none;
        }
      }
    }

    .caret-darken {
      padding: 0 10px;
      background-color: rgba(0, 0, 0, 0.75);
      border-radius: 100px;
    }
  }

  #layout {
    margin: 120px 0;
  }

  #main {
    width: 100%;
  }

  .navbar {
    @include transition();

    position: fixed;
    text-align: right;
    padding: 20px 0;
    width: 100%;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.75);

    .nav-sections {
      margin: 0 20px;
      > a {
        margin: 0 20px;
      }
    }

    .navbar-nav {
      line-height: 40px;
      font-size: 18px;

      a {
        margin-left: 50px;
        text-shadow: 0 0 1px #666;

        &.btn {
          color: white !important;
        }

        &, &:link, &:visited, &:hover, &:active {
          @include transition();

          text-transform: uppercase;
          color: #999;

          &.active, &:hover {
            color: white;
          }
        }
      }
    }
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

  footer {
    padding: 50px 0;
    background: #212121;
    color: #999;
    width: 100%;

    h3 {
      font-size: 100%;
      font-weight: 400;
      text-transform: uppercase;
      color: white;
    }

    a {
      &, &:link, &:visited, &:hover, &:active {
        color: #999;
      }

      &:hover {
        color: #ccc;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 10px 0;
      }
    }

    div[class*="col-md-"] {
      padding-right: 50px;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .marketing {
    padding-left: 0;
    padding-right: 0;

    .col-lg-4 {
      text-align: center;
      margin-bottom: 20px;
    }

    h2 {
      font-weight: normal;
    }
  }

  .featurette {
    margin-left: -15px;
    margin-right: -15px;

    .featurette-heading {
      font-size: 50px;
      margin-top: 120px;
    }
  }

  .featurette-divider {
    margin: 80px 0;
  }
}
