@import 'include/constants';
@import 'include/utilities';

html body { font-size: 16px; }

body {
  color: #5a5a5a;

  overflow-x: hidden;

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  h1, h2, h3 {
    margin: 0;
  }

  h1 {
    font-size: 64px;
    font-weight: 100;
    margin-bottom: 0.25em;
    color: #3E94D1;
  }

  h2 {
    font-size: 32px;
    font-weight: 200;
  }

  h3 {
    font-size: 20px;
    font-weight: 200;
  }

  #layout {
    margin: 120px 0;
  }

  #main {
    width: 100%;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

  footer {
    padding: 50px 0;
    background: #212121;
    color: #999;
    width: 100%;

    h3 {
      font-size: 100%;
      font-weight: 400;
      text-transform: uppercase;
      color: white;
    }

    a {
      &, &:link, &:visited, &:hover, &:active {
        color: #999;
      }

      &:hover {
        color: #ccc;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 10px 0;
      }
    }

    div[class*="col-md-"] {
      padding-right: 50px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
