// Place all the styles related to the Packages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#shipping-estimate-display {
  margin-right: 10px;
}

.sizes {
  div[class*="col-"] {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    height: 200px;
  }
}

.size-names {
  div[class*="col-"] {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
