// Place all the styles related to the Packages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sizes {
  div[class*="col-"] {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    height: 200px;
  }
}

.size-names {
  div[class*="col-"] {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

#shipping-estimate-display {
  table {
    margin-top: 10px;
    margin-bottom: 10px;

    th, td {
      border: 1px solid #bbbbff;
    }
  }
}

.alert {
  display: table;
  width: 100%;

  i {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 20px;
  }

  p {
    display: table-cell;
    width: 100%;
  }
}
