<footer>
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2013 SciGit, Inc. &middot; <a href="#">Privacy</a> &middot; <%= link_to "Terms", terms_path %> &middot; <%= link_to "How it Works", details_path %><br>
    <%= link_to "hello@ohship.me", "mailto:hello@ohship.me" %></p>
  </div>
</footer>
